div.container-fluid.container-down
  div.row.d-flex.justify-content-center
    div.text-bottom-left.my-auto.justify-content-center
      //- p Here you can find all the links to all my social media accounts and channels
      //- p Don't hesitate to keep in touch with me :)
      span Let's keep in touch
    div.social-media-icons.container-media.my-auto.justify-content-center
      each item in helpers.footerIcons
        a(href=`${item.href}` class=`${item.class}` target='_blank' rel="noopener")

footer
  p.text-center #{new Date().getFullYear()} &copy; Designed by Mouaz Meda