div.container-fluid.container-down
  div.row
    div.text-bottom-left.col-12.col-sm-6.col-lg-6
      p Here you can find all the links to all my social media accounts and channels
      p Don't hesitate to keep in touch with me :)
    div.social-media-icons.container-media.col-12.col-sm-6.col-lg-6
      each item in helpers.footerIcons
        a(href=`${item.href}` class=`${item.class}` target='_blank' rel="noopener")

footer
  p.text-center 2018 &copy; Designed by Mouaz Meda