/* My Projects */

#projects {
  padding: 80px 0;
}
.card {
  width: 18rem;
  margin: 2rem 0;
}
.card-img-top {
  padding: 2rem;
}

.project-card span {
  position: absolute;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: black;
  font-size: 1rem;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-shadow: 1px 1px 3px grey;
  bottom: 0;
  opacity: 0;
}



.project-img {
  margin-top: 1.875rem;
}


.project-card figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (min-width: 767px) {
  .project-card figure:hover img,
  .project-card figure img:focus {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
  figure:hover + span {
    bottom: -18px;
    opacity: 1;
  }

}

@media (max-width: 768px) {
  .project-card figure img,
  .project-card figure img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .project-card  span {
    bottom: -18px !important;
    opacity: 1 !important;
  }
}


