/* ------Services Page--------- */

#services {
  background-color: lightgray;
  // margin-bottom: 6rem;
  // margin-top: 6rem;
  // background-color: lightgreen;
  // background: url("/images/2greenleaves.jpeg") no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // min-height: 400px;
}

#services .services-background {
  // background: rgba(2, 2, 2, 0.6);
  // color: #fff;
  // min-height: 400px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.service-item {
  margin: 0 auto;
}

.my-service {
  background: url("/images/pexels-photo-1055408.jpeg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}

// .carousel-item {
//   background-color: rgba(0, 0, 0, 0.5);
//   // color: $main-bg-color;
//   height: 280px;

//   li {
//     margin-top: 1rem;
//   }

//   h5 {
//     font-size: 1.1rem;

//     span {
//       text-transform: uppercase;
//       line-height: 3.5rem;
//     }
//   }

//   i {
//     margin-bottom: 2rem;
//     padding-top: 2rem;
//   }
// }
