div#about.position-relative
	div.vertical-text-left-about.p-4
		h1.about About Me
	div.horizontal-title
		h2.text-center.head-border-center About ME
	div.container-fluid.position-relative
		div.row.px-lg-5.px-md-5.justify-content-center
			div.paragraph.col-sm-10.col-md-10.col-lg-4
				h2 Who am I?
				p I'm an ambitious full stack web developer, started my journey at 'DCI' where I learned the fundamentals
					| in web development: HTML, CSS, JavaScript. I extend my experience by building web
					| applications using the modern technologies like Node.JS, Express, MongoDB, React and Redux.
					| My team and I built our projects using agile methodologies and learned about project management.


			div.myProgress.col-sm-10.col-md-10.col-lg-4.px-lg-5
				h2 My Skills
				br
				p HTML & CSS & BootStrap
				div.progress
					div.progress-bar(role="progressbar" style="width: 0%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100")
				p JavaScript & ES6
				div.progress
					div.progress-bar(role="progressbar" style="width: 0%;" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100")
				p NodeJS & Express & MongoDB
				div.progress
					div.progress-bar(role="progressbar" style="width: 0%;" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100")
				p React & Redux
				div.progress
					div.progress-bar(role="progressbar" style="width: 0%;" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100")
