
div#about
	div.container-fluid
		div.about-h2
			h2.text-center About ME
		div.row
			div.vertical-text-left.col-lg-1.col-sm-1
				h1.about About Me
			div.paragraph.col-sm-10.col-md-10.col-lg-4
				h2 Who am I?
				p I'm an ambitious web developer, started my journey with 'DCI' where I learned the basics
					| in web development : HTML, CSS, JavaScript, and extend my experience by building web
					| applications using the modern technologies like Node.JS, Express, MongoDB and React.
					| My team and I will do a large project soon using agile methodologies and learn about project management.


			div.myProgress.col-sm-10.col-md-10.col-lg-4
				h2 My Skills
				br
				p HTML & CSS & BootStrap
				div.progress
					div.progress-bar(role="progressbar" style="width: 0%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100")
				p JavaScript & ES6
				div.progress
					div.progress-bar(role="progressbar" style="width: 0%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100")
				p NodeJS & Express
				div.progress
					div.progress-bar(role="progressbar" style="width: 0%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100")
				p React & Redux
				div.progress
					div.progress-bar(role="progressbar" style="width: 0%;" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100")
