div#my
  div.background-image.header
    div.overlay
      div.container
        div.row.centering-vh
          div.col-md-6.jumbo
            h1.jumbo-h1 Hello I'm <br> Mouaz Meda
            p.jumbo-p Creative FullStack web developer
            a.btn.btn-myStyle(href="#contact" role="button") Contact Me

