div#projects
  div.horizontal-title
    h2.text-center.head-border-center My Projects
  div.container-fluid.hover08.column
    each project in helpers.projects
      .col-lg-4.col-12.col-sm-6.text-center.pre-figure
        a(href=`${project.link}` target="_blank" rel="noopener")
          figure
            img(src=`${project.imgSrc}` alt=`${project.imgAlt}` class="img-fluid portfolio-item")
          span #{project.name}


    div.vertical-text-right.col-lg-1.col-sm-1
      h1.projects My Projects