div#projects
  div.container-fluid
    div.row
      div.col-12.col-sm-12.col-lg-11
        div.container.d-flex
          .row.justify-content-around
            //- div
            //-   a.card(href='https://codepen.io/Mo3aZ/pen/jYrOQg' target='_blank')
            //-     img.rounded(src='/images/projects/marvel.jpg', alt='MARVEL API')
            //-     h5.card-title MARVEL API
            //-     p.card-text
            //-       | Search your favorite MARVEL characters

            div.card
              img.card-img-top(src='/images/projects/marvel.jpg', alt='MARVEL API')
              div.card-body
                h5.card-title MARVEL API
                p.card-text
                  | Search your favorite MARVEL characters
                a.project-link(href='https://codepen.io/Mo3aZ/pen/jYrOQg' target='_blank') Go Here!!


            div.card
              img.card-img-top(src='/images/projects/maps.jpg', alt='MAPS API')
              div.card-body
                h5.card-title MAPS API
                p.card-text
                  | Map based on geo-location and Google maps API
                a.project-link(href='https://codepen.io/Mo3aZ/pen/eyyBqQ?editors=0010' target='_blank') Go Here!!

            div.card
              img.card-img-top(src='/images/projects/dad-jokes.jpg', alt='MAPS API')
              div.card-body
                h5.card-title Dad Jokes API
                p.card-text
                  | Read some funny jokes with DadJokes API
                a.project-link(href='https://codepen.io/Mo3aZ/pen/JMjKEz' target='_blank') Go Here!!

            div.card
              img.card-img-top(src='/images/projects/xkcd.jpg', alt='MAPS API')
              div.card-body
                h5.card-title XKCD API
                p.card-text
                  | Navigate through XKCD jokes or get therm randomly
                a.project-link(href='https://codepen.io/Mo3aZ/pen/NXPMgY?editors=1010' target='_blank') Go Here!!

      div.vertical-text-right.col-lg-1.col-sm-1
        h1.projects My Projects