div#projects.position-relative
  div.horizontal-title
    h2.text-center.head-border-center My Projects
  div.container-fluid.px-lg-5.position-relative
    .px-lg-5
      div.row.justify-content-center.px-lg-5
        each project in helpers.projects
          div.col-12.col-sm-12.col-md-8.col-lg-4.project-card.text-center
            a(href=`${project.link}` target="_blank" rel="noopener")
              figure
                img.img-fluid.project-img(src=`${project.imgSrc}` alt=`${project.imgAlt}`)
              span #{project.name}

  div.vertical-text-right.p-4
    h1.projects My Projects