extends layout

block content
  div.container-fluid.container-services-up
    div.row
      div.vertical-text-left.col-lg-1.col-md-1.col-sm-1.col-1
        h1 Services

      div.col-sm-4.col-md-3.col-lg-3.text-center.service-item
        i.fa.fa-pie-chart.fa-5x
        h3 Ux/Ui Design
        p There are many variations of passages of Lorem Ipsum available,
          |  but the majority have suffered alteration in some form, by injected humour,
          |  or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem

      div.col-sm-4.col-md-3.col-lg-3.text-center.service-item
        i.fa.fa-television.fa-5x
        h3 Monitoring Progress
        p There are many variations of passages of Lorem Ipsum available,
          |  but the majority have suffered alteration in some form, by injected humour,
          |  or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem

      div.col-sm-4.col-md-3.col-lg-3.text-center.service-item
        i.fa.fa-globe.fa-5x
        h3 Marketing Base
        p There are many variations of passages of Lorem Ipsum available,
          |  but the majority have suffered alteration in some form, by injected humour,
          |  or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem

    <!-- /row -->

    div.row
      div.vertical-text.col-lg-1.col-sm-1
        //- hidden empty

      div.col-sm-4.col-md-3.col-lg-3.text-center.service-item
        i.fa.fa-code.fa-5x
        h3 Clean Code
        p There are many variations of passages of Lorem Ipsum available,
          |  but the majority have suffered alteration in some form, by injected humour,
          |  or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem

      div.col-sm-4.col-md-3.col-lg-3.text-center.service-item
        i.fa.fa-diamond.fa-5x
        h3 Clean Design
        p There are many variations of passages of Lorem Ipsum available,
          |  but the majority have suffered alteration in some form, by injected humour,
          |  or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem

      div.col-sm-4.col-md-3.col-lg-3.text-center.service-item
        i.fa.fa-comments-o.fa-5x
        h3 Support
        p There are many variations of passages of Lorem Ipsum available,
          |  but the majority have suffered alteration in some form, by injected humour,
          |  or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem

    <!-- /row -->