div#services.position-relative
  div.vertical-text-left-services.p-4
    h1.services Services
  div.horizontal-title
    h2.text-center.head-border-center Services

  div.container-fluid.position-relative

    div.row.px-lg-5.py-lg-5.justify-content-center

      div.col-sm-6.col-md-5.col-lg-3.text-center.service-item
        i.fa.fa-code.fa-5x
        h3 Clean Code
        p “Any fool can write code that a computer can understand. Good programmers write code that humans can understand.”
          <br>  – Martin Fowler. <br>
          | This quote explains the essence of clean coding.

      div.col-sm-6.col-md-5.col-lg-3.text-center.service-item
        i.fa.fa-diamond.fa-5x
        h3 Clean Design
        p Mobiles and tablets are the most used devices to surf the web these days
          | , and building a responsive design that fits perfectly on your phone and tab
          | is my job.

      div.col-sm-6.col-md-5.col-lg-3.text-center.service-item
        i.fa.fa-comments-o.fa-5x
        h3 Support
        p Good support is what everyone of us looking for after buying a product or service.
          |  I will be there for you when you need me to develop, modify, add or edit features
          |  to your applications.
